<!DOCTYPE html>
<html>
<head>
    <title>Facial Recognition</title>
</head>
<body>
    <h1>Facial Recognition</h1>
    <form action="/facialrecognition" method="post" enctype="multipart/form-data">
        <label for="image">Upload an image:</label>
        <input type="file" id="image" name="image" accept="image/*">
        <button type="submit">Submit</button>
    </form>
</body>
</html>


