<!DOCTYPE html>
<html>
  <head>
    <title>Have I Been Pwned</title>
  </head>
  <body>
    <h1>Have I Been Pwned Results</h1>
    <% if(data) { %>
      <!-- Display data here -->
      <!-- Details would depend on the structure of data returned from Have I Been Pwned API -->
    <% } else { %>
      <p>No data available</p>
    <% } %>
  </body>
</html>
