<!DOCTYPE html>
<html>
<head>
    <title>WhatsMyName Search</title>
</head>
<body>
    <h1>WhatsMyName Search</h1>
    <form action="/whatsmyname-search" method="get">
        <input type="text" name="username" placeholder="Enter a username">
        <input type="submit" value="Search">
    </form>
</body>
</html>


