<!DOCTYPE html>
<html>
<head>
    <title>Investigation Tools</title>
</head>
<body>
    <h1>Investigation Tools</h1>
    <ul>
        <li><a href="/stevesgoogle">Steve's Google Search</a></li>
        <li><a href="/dehashed">Dehashed</a></li>
        <li><a href="/haveibeenpwned">HaveIBeenPwned</a></li>
        <li><a href="/whatsmyname">WhatsMyName</a></li>
        <li><a href="/suncalc">SunCalc</a></li>
        <li><a href="/shodan">Shodan</a></li>
        <li><a href="/facialrecognition">Facial Recognition</a></li>
    </ul>
</body>
</html>